{% if page.url == '/' or page.url == '/index.html' %}
{% assign profile = site.data.profile %}
{% assign absolute_image = profile.headshot | prepend: site.production_url %}
{% assign page_url = page.url | replace:'index.html','' | prepend: site.production_url %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ profile.name | jsonify }},
  "alternateName": {{ profile.name_ko | jsonify }},
  "jobTitle": {{ profile.full_title | jsonify }},
  "worksFor": {
    "@type": "CollegeOrUniversity",
    "name": {{ profile.affiliation | jsonify }}
  },
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": {{ profile.affiliation | jsonify }}
  },
  "email": {{ profile.email | prepend: 'mailto:' | jsonify }},
  "telephone": {{ profile.office_phone | jsonify }},
  "image": {{ absolute_image | jsonify }},
  "url": {{ page_url | jsonify }},
  "workLocation": {
    "@type": "Place",
    "name": {{ profile.office | jsonify }},
    "address": {{ profile.address | jsonify }}
  },
  "sameAs": [
    {{ profile.links.kubs.url | jsonify }},
    {{ profile.links.linkedin.url | jsonify }},
    {{ profile.links.google_scholar.url | jsonify }},
    {{ profile.links.orcid.url | jsonify }}
  ]
}
</script>
{% endif %}
